header 
{
  background-color: darkcyan;
  text-align: center;
  padding: 10px; /* Adjust padding as needed */
}

img 
{
  margin-right: 10px; /* Add margin to the right of the logo */
}


h1 
{
  font-size: 40px;
  font-family: Arial
}

h2 
{
  font-size: 25px;
  font-family: Arial
}

h3 
{
  font-family: Arial
}

p 
{
  font-size: 14px;
  font-family: Arial
}


